<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taxi Manager</title>
</head>
<body>
    <h1>Login</h1>
    <form action="{% url 'login_verify' %}" method="post">
        <label for="type">Type:</label>
        <select id="type" name="type">
            <option value="user">User</option>
            <option value="driver">Driver</option>
        </select><br><br>

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <input type="submit" value="Login">
    </form>
    <p>Not a user? <a href="signup">Sign Up</a></p>
</body>
</html>
